<form method="post" action="/home/upload" enctype="multipart/form-data">
    <input type="file" name="myfile" />
    <input type="text" name="password" placeholder="Enter Custom Password" />
    <button class="btn btn-primary">Submit</button>
</form>
