@model UploadViewModel
<h1>
    Thank you for uploading your image! Share this link with your friends:
    <a href="@Model.Link">@Model.Link</a>
    <br />
    Make sure to give them the password "@Model.Image.Password"
</h1>
